@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

.bg-blur-navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
}

/* Additional styling for the mobile hamburger menu */
.hamburger-line {
  width: 24px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

/* styles/global.css */
.no-download {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.rotate-x-45 {
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.rotate-x-45:hover {
  transform: rotateY(-50deg);
  filter: grayscale(0);
}

html {
  scroll-behavior: smooth;
}
